{% extends "base.phtml" %}
{% load static from staticfiles %}

{% block additional_css %}
    <!-- Custom CSS -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="dashboard col-md-10">
	</div>

{% endblock %}

{% block bottom_js %}

{% endblock %}