.tiktok
{
	display:     	inline-block;
	font-size:     	30px;
	line-height:   	32px;
	padding:      	0 10px;
	text-shadow:   	1px 1px 0 rgba(0, 0, 0, 0.2);
}

#shopify-bar
{
	position:         	fixed;
	top:              	0px;
	right:            	0px;
	z-index:           	10000;
	width:            	100%;
	text-align:        	center;
	font-size:         	14px;
	letter-spacing:    	1px;
	font-weight:       	600;
}

#shopify-bar p
{
	margin: 0 !important;
}

.bar-text-style
{
	color: 	white;
	margin: 10px;
}