.landing-main
{
    background-color : #fcfcfc;
    color: #39424e;
    @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,700%7COpen+Sans:300,400,600,700%7CHandlee");
    -webkit-font-smoothing  : antialiased;

    body
    {
        font-family     : "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight     : 100;
        letter-spacing  : 0.6px;
        color           : #39424e;
    }

    input
    {
        font-size       : 17px !important;
        height          : 60px !important;
        border-radius   : 0px !important;
        border          : none !important;
        box-shadow      : none !important;
        letter-spacing  : 0.6px;
        color           : black !important;
    }

    ::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder
    {
        color: #cecece !important;
    }

    input:focus
    {
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
    }

    .row
    {
        margin: 0;
    }

    .header
    {
        padding: 60px;
    }

    #landing-form
    {
        position: relative;
    }

    .left-panel
    {
        padding: 50px 30px 0px;
    }

    .right-panel
    {
        position    : relative;
        padding     : 50px;
    }

    @media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px)
    {
        .header
        {
            padding     : 60px 0 0;
            padding-top : 60px;
        }

        .right-panel
        {
            padding: 30px;
        }
    }

    .right-panel .success-panel
    {
        position            : absolute;
        opacity             : 0;
        -webkit-transition  : all .5s ease;
        -o-transition       : all .5s ease;
        -moz-transition     : all .5s ease;
        transition          : all .5s ease;
    }

    #landing-input-div
    {
        padding         : 1px;
        border          : 2px solid #e9e9e9;
        border-radius   : 2px;
    }

    .chefhero-logo
    {
        display     : block;
        margin      : auto;
        width       : 213px;
    }

    .example-picture
    {
        display: block;
    }

    .title
    {
        font-weight : 300;
        font-size   : 37px;
        line-height : 1.25;
    }

    .image-description
    {
        font-weight     : 400;
        margin-top      : 10px;
        font-size       : 14px;
        line-height     : 32px;
    }

    .list-text
    {
        font-size   : 20px;
        line-height : 30px;
    }

    .fa-check
    {
        margin-right: 10px;
    }

    .btn-chefhero
    {
        background-color    : #269f5a;
        color               : white;
        height              : 60px;
        border-radius       : 2px;
        font-size           : 18px;
        letter-spacing      : 0.5px;
    }

    .btn-chefhero:hover
    {
        outline : none;
        color   : white;
    }

    .btn-chefhero:focus
    {
        outline: none;
    }

    .border-btm
    {
        border-bottom: 1px solid #f2f2f2 !important;
    }

    label.error-landing
    {
        margin-left     : 10px;
        color           : red;
        float           : left;
        font-weight     : 100;
    }

    input.error
    {
        border: 1px solid red !important;
    }

    .no-left-margin
    {
        padding-left: 0px !important;
    }
}
